certifi==2024.12.14
charset-normalizer==3.4.0
idna==3.10
urllib3==2.2.3
tzdata==2024.2
six==1.17.0
blinker==1.9.0
click==8.1.7
colorama==0.4.6
importlib-metadata==8.5.0
zipp==3.21.0
itsdangerous==2.2.0
requests==2.32.3
tzlocal==5.2
python-dateutil==2.9.0.post0
packaging==24.2
requests-toolbelt==1.0.0
vecto-sdk==0.2.3
